{% extends 'base.html.twig' %}

{% block title %}Admin | Tabla de usuarios{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Admin| Lista de usuarios</h1>
      {% if listUsuarios and listUsuarios|length >0%}
        <table class="table table-striped table-hover">
           <thead>
             <tr >
              <th>ID</th>
              <th>CORREO</th>
              
              <th>NOMBRES</th>
              <th>APELLIDOS</th>
              <th>TIPO</th>
             
            </tr>
           </thead>
           <tbody>
             {% for usuario in listUsuarios %} 
                <tr scope = >
                  <td >{{usuario.id}}</td>
                  <td>{{usuario.email}}</td>
                 
                  <td>{{usuario.nombres}}</td>
                  <td  >{{usuario.apellidos}}</td>
                  <td>{{usuario.tipo}}</td>
                
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen usuarios registrados</strong></p>
       {% endif %}  
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
</div>
{% endblock %}

