<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_register_usuario2')}}">Crear Medico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_register_usuario1')}}">Crear Usuario</a>
        </li>
      {% endif %}
        <li class="nav-item">
          <a class="nav-link" href ="{{path('app_login')}}">Cerrar Sesion</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
 </nav>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
