{% extends 'base.html.twig' %}

{% block title %}Medicos Dashboard{% endblock %}

{% block body %}
 <h1>Medicos Paciente</h1>
      {% if listTurnos and listTurnos|length >0%}
        <table>
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>DESCRIPCION</th>
              <th>ESTADO</th>
              <th>PACIENTE</th>
              <th>OBSERVACION/th>
              
              
             
            </tr>
           </thead>
           <tbody>
             {% for turno in listTurnos %} 
                <tr scope = "row">
                  <td>{{turno.id}}</td>
                 <td>{{turno.fecha ? turno.fecha|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{turno.descripcion}}</td>
                  <td>{{turno.estado}}</td>
                  <td>{{turno.paci_nombres}} {{turno.paci_apellidos}}</td>
                  <td>{{turno.observacion}}</td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen turnos registradas</strong></p>
       {% endif %}  
       <a href="{{path('app_medico_dashboard_turnos')}}">Ver turnos pendientes</a>
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
{% endblock %}
